* {
    margin: 0;
    padding: 0;
}

body {
    background: darkblue;
    color: white;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: darkgray;
}

header {
    padding: 1rem;
}

p {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
    border-radius: 3px;
    display: inline-block;
}

#back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    font-weight: bold;
    opacity: 0;
}

#back-to-top.visible {
    opacity: 1;
}